* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    list-style: none;
}

button {
    cursor: pointer;
}

main {
    margin: 10px;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

.all { background-color: lightgrey !important; }
.noun { background: lightblue !important; }
.adjective { background: lightcoral !important; }
.verb { background: lightgreen !important; }

.search-bar {
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.search-bar .search-input {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-right: 10px;
    padding: 10px 0;
    font-size: 1.2em;
    outline: none;
}

.search-bar .search-input:focus {
    border-bottom: 1px solid orange;
}

.search-bar .word-class-selector-btn {
    background: lightgrey;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: bold;
}

.search-bar .word-class-selector {
    display: none;
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    position: absolute;
    right: 10px;
    top: 28px;
    padding: 5px;
    font-size: 1em;
    width: 60%;
    box-shadow: 2px 2px 4px #333;
    z-index: 1;
}

.search-bar .word-class-selector.open {
    display: block;
}

.search-bar .word-class-selector .word-class-list .word-class-item {
    display: block;
    text-align: center;
}

.search-bar .word-class-selector .word-class-list .word-class-item button {
    background: transparent;
    border: none;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    width: 100%;
    text-transform:capitalize;
}

.word-list .item {
    display: block;
    padding: 10px 5px;
}

.word-list .item.blur {
    filter: blur(5px);
}

.word-list .item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.word-list .item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.word-list .item .word { float: left; font-size: 1.3em; }
.word-list .item .cursive { float: right; font-size: 1.1em; }
.word-list .item .translation { clear: both; font-size: 0.9em; }
