.dropdownMenu {
    display: none;
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    position: absolute;
    padding: 5px;
    font-size: 1em;
    width: 60%;
    box-shadow: 2px 2px 4px #333;
    z-index: 1;
}

    .dropdownMenu.open {
        display: block;
    }

    .dropdownMenu ul li {
        display: block;
        text-align: center;
    }

        .dropdownMenu ul li button{
            background: transparent;
            border: none;
            cursor: pointer;
            display: block;
            padding: 15px 0;
            text-decoration: none;
            text-transform:capitalize;
            width: 100%;
        }
